# Lists

## Learning objectives
- Understand the nature of a list.
- Know how to index and slice a list.
- Know some ways to add items to a list.
- Know some methods associated with a list.
<br>

- A powerful data type in Python.
- It is denoted by square brackets [].
- Lists store items as a mutable ordered sequence of elements.
- Each element in a list is an item.
- Indexing and slicing operations apply to lists.
- Lists can be nested several levels deep.

![Lists](https://github.com/AI-Core/Content-Public/blob/main/Content/units/Essentials/7.%20Python%20programming/8.%20Lists/images/lists.png?raw=1)

### Term Definitions
- Mutable: indicates that the item can be changed after creation (supports addition/removal/reassignment of items).
- Ordered: indicates a fixed order (the order of elements provided at the time of assignment); thus, indexing can occur using numbers. For example, the list, \[2,1,3,4\], will remain unchanged; 2 will remain the first element, 1 will remain the second, ..., etc.
- Sequence of elements: fairly self explanatory.

In [1]:
# can handle multiple object types.
my_list = [3, "three", 3.0, True]

In [2]:
my_list[0]

3

In [3]:
sentence = 'This is just a sentence'
sentence.split('s')

['Thi', ' i', ' ju', 't a ', 'entence']

In [4]:
# can use the type() method to determine the data type of an object.
type(3)

int

In [5]:
type("three")

str

In [6]:
type(3.0)

float

In [7]:
type(True)

bool

In [8]:
type(my_list)

list

## Indexing and Slicing

In Python, slicing

- begins at index 0 (zero).
- is inclusive of the lower bound (including).
- is exclusive of the upper bound (up to, but not including).

In [9]:
my_list = ['John', 'Paul', 'George', 'Ringo']
my_list

['John', 'Paul', 'George', 'Ringo']

In [10]:
# Index 0 outputs the first element.
my_list[0]

'John'

In [11]:
# Use a colon to indicate a slice; 1:3 returns the 2nd and 3rd items, but not the 4th.
my_list[0:3]

['John', 'Paul', 'George']

In [12]:
# In the absence of an upper bound, the slicing operation begins with the 1st index indicated and outputs everything beyond.
my_list[1:]

['Paul', 'George', 'Ringo']

In [13]:
# In the absence of a lower bound, the slicing begins from index 0 up to, but not including, the upper bound.
my_list[:3]

['John', 'Paul', 'George']

In [14]:
# The third argument defines the step size.
my_list[::2]

['John', 'George']

In [15]:
# When a negative index is applied, the slicing starts from the end.
print(my_list[-1])
print(my_list[-2])
# You can define the step size as negative, which will go backwards.
print(my_list[::-1])

Ringo
George
['Ringo', 'George', 'Paul', 'John']

In [16]:
# Elements in a list can be reassigned to new values.
my_list[1] = my_list[1].upper()
my_list

['John', 'PAUL', 'George', 'Ringo']

In [17]:
# Elements can be added to lists; however, this does not change the original list.
my_list + ['Yoko']
print(my_list)

['John', 'PAUL', 'George', 'Ringo']

In [18]:
# To change the original list, you must reassign it.
my_list = my_list + ['Yoko']

my_list

['John', 'PAUL', 'George', 'Ringo', 'Yoko']

In [19]:
# The list can be reassigned to a slice of the original list.

my_list = my_list[:4]

my_list

['John', 'PAUL', 'George', 'Ringo']

In [20]:
# The list can be multiplied by integer x to replicate the original list x times.
print(my_list * 2)
# As mentioned previously, to make changes to the original list, it must be reassigned.
my_list

['John', 'PAUL', 'George', 'Ringo', 'John', 'PAUL', 'George', 'Ringo']

['John', 'PAUL', 'George', 'Ringo']

In [21]:
# A list can be contained within another list.
# The concept of inserting a list into another is called nesting.
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# A nested list is formed by making a list of lists.
nest_list = [lst_1,lst_2,lst_3]
nest_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

>Note that it is possible to nest lists several levels deep.

In [22]:
print('Accessing second item', nest_list[1])
print('Accessing second item of the second item', nest_list[1][1])

Accessing second item [4, 5, 6]
Accessing second item of the second item 5

## List Functions and Methods

Here, we review some of the most common functions and methods that apply to lists.

The difference between functions and methods is that functions are not bound to a specific data type, whereas methods are. In other words, a method is a function that is specific to a data type.

Therefore, all methods are functions, but not all functions are methods.

Here, we examine the most common methods and functions in Python for lists. We encourage you to explore the official Python documentation [here](https://docs.python.org/3/tutorial/datastructures.html) for an exhaustive list.

### `len`

The `.len()` function counts the number of items in a data type containing multiple elements.

In [ ]:
# We redefine my_list in order not to lose track of its contents.
my_list = ['John', 'Paul', 'George', 'Ringo']
len(my_list)

Note that the `len` function does not work for numbers or floats. It works for data types that are collections, such as lists or strings.

In [ ]:
len(3)

### `min` and `max`

Apply min() and max() to find the highest and lowest items in a list, respectively.

In [ ]:
num_list = [3, 7, 1, 9, 42]
print(min(num_list))
print(max(num_list))


When used in lists with strings, they work in alphabetical order.

In [ ]:
print(min(my_list))
print(max(my_list))

George
Ringo

### `.append()` and `.extend()`
- The .append() method adds items to the end of a list.
- The .extend() method adds the items in a list (or other iterables) itemwise to the end of the list.
- The difference between the two is shown below.

In [ ]:
# add items by the .append() method
my_list = ['John', 'Paul', 'George', 'Ringo']
my_list.append(['Lennon','McCartney','Harrison', 'Starr'])

print(my_list)

Notice that with the `append` method, we did not have to reassign the list to a new variable. Rather, the original value of the variable was changed. 

This same principle applies to the `extend` method.

In [ ]:
# add items in iterable itemwise by the .extend() method.
my_list = ['John', 'Paul', 'George', 'Ringo']
my_list.extend(['Lennon','McCartney','Harrison', 'Starr'])

my_list

### `.insert()`

The `.insert()` method adds an item to a specific index. Note that lists are 0 indexed.

In [ ]:
my_list = ['John', 'Paul', 'George', 'Ringo']
my_list.insert(1, 'Lennon')
my_list

['John', 'Lennon', 'Paul', 'George', 'Ringo']

#### <font size=+2> `.pop()` </font>

`pop` removes, by default, the last item. Similar to `append`, `extend` and `insert`, it changes the original state of the variable. However, this method returns the removed item.

In [ ]:
# last_item will be assigned the value of the last element.
last_item = my_list.pop()
last_item

Consequently, `my_list` will contain one element less.

In [ ]:
my_list

The index to be removed can be specified.

In [ ]:
# can index, default index -1
my_list.pop(0)
my_list

#### <font size=+2> `.remove()` </font>

Another method for removing elements in a list is the `.remove()` method. This method finds and removes a specified item from a list.

In [ ]:
my_list = ['John', 'Lennon', 'Paul', 'George']
my_list.remove('John')
print(my_list)

['Lennon', 'Paul', 'George']

Please exercise caution! If the specified item does not exist in the list, Python will throw an error.

In [ ]:
my_list = ['John', 'Lennon', 'Paul', 'George']
my_list.remove('Yoko')

### `.sort()` and `.reverse()`

`sort` orders a list based on the value of its elements.

In [ ]:
# using the .sort() method to sort a list changes the original list, and no value is returned.

let_list = ["a", "d", "v", "x", "g"]

num_list = [13,42,4,24,2,46,3,7]

In [ ]:
let_list.sort()
num_list.sort()

In [ ]:
print(let_list)
print(num_list)

['a', 'd', 'g', 'v', 'x']
[2, 3, 4, 7, 13, 24, 42, 46]

In [ ]:
A = ["G06 WTR", "WL11 WFL", "QW68 PQR"]
print(A.sort())

None

The `.reverse()` method is employed to order a list in the reverse order.

In [ ]:
# use the .reverse() method to reverse a list order.
num_list.reverse()

print(num_list)

### `.join()`

`join` is actually a string method, although it accepts lists as arguments. It combines every item in the list, separated by the string to which the method was applied.

In [ ]:
list_of_strings = ["This", "is", "a", "sentence."]

print("    Random String    ".join(list_of_strings))

### `.index()`

The `.index()` method is employed to determine the index of a certain element in a list.

In [3]:
# my_list.remove('PAUL')
my_list = ['John', 'Lennon', 'Paul', 'George']
idx = my_list.index('Lennon')
print(idx)

1

Please exercise caution! If the specified item is not in the list, Python will throw an error.

In [2]:
my_list = ['John', 'Lennon', 'Paul', 'George']
idx = my_list.index('Yoko')
print(idx)

ValueError: 'Yoko' is not in list