#### Tuples
- Tuples are like lists: flexible data input.
- But they are immutable: cannot be changed once created. As mentioned, tuples are immutable, so you can't remove items from it
- Therefore no append/extend/remove/pop methods and no item reassignment for tuples.
- Useful for holding values in data that you do not want to be reassigned by accident.
- Tuples are iterable so length can be checked with len() function


#### Creating a Tuple
- Tuples are represented by parentheses (). You can also create a tuple using the tuple function

In [16]:
t = (1,2,3)
x = (9, 45, 90)
x2 = tuple(["y", 56, 7890])
x3 = tuple([1, "two", 3])

print(t)
print(x)
print(x2)
print(x3)
print("_____________________")
print(type(t))
print(type(x))
print(type(x2))
print(type(x3))

(1, 2, 3)
(9, 45, 90)
('y', 56, 7890)
(1, 'two', 3)
_____________________
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [21]:
# check length with len() function
t = (1,2,3,4,5,6,7,9,67,77,42)
print(len(t))

x = len(t)
print(x)

print(f"The length of the tuple is {x}")                 # the variable is created before the print statement
print("The length of the tuple is {x}".format(x=len(t))) # the variable x is builtin the print statement

11
11
The length of the tuple is 11
The length of the tuple is 11

#### Tuples' methods
- Tuples allow you to check how many times an item is repeated in it. To do so, you can use the method .count()

In [26]:
# count instances using .count() method
t2 = ('a', 'a', 'b', 'b', 'a')
t2.count("a")
z = t2.count("a")
print(z)


print(f"a occurs {z} times in the tuple")                           # the variable is created before the print statement
print("a occurs {w} times in the tuple".format(w=t2.count("a")))  # the variable w is builtin the print statement

3
a occurs 3 times in the tuple
a occurs 3 times in the tuple

#### How to check the first occurrence of an element using the index() method

In [28]:
# find first index using .index() method
t2.index("b")
y = t2.index("b")
print(y)

print(f"b occurs first at index {y} in the tuple")                          # the variable is created before the print statement
print("b occurs first at index {d} in the tuple".format(d=t2.index("b"))) # the variable d is builtin the print statement

2
b occurs first at index 2 in the tuple
b occurs first at index 2 in the tuple

#### Tuple Packing and Unpacking
- One of the most powerful aspects of tuples is a technique called tuple unpacking.
- This allows us to assign variables using commas from a single tuple in order.
- The syntax works as below, although the brackets can be omitted, unless required to be clear.
- Python 'unpacks' the tuple automatically and picks out the values and assigns them to the comma-separated variables:

In [29]:
a, b, c = (1, 2, 3)

print(f'a is equal to {a}')
print(f'b is equal to {b}')
print(f'c is equal to {c}')

a is equal to 1
b is equal to 2
c is equal to 3

### milestone 3 Task 3.2 prerequisite Practice Excercise

- Create an empty tuple without Python's built-in function
- Create an empty tuple with Python's built-in function
- Create a tuple that contains three different data types
- Merge the two of the tuples you created using the + operator
- Iterate over one of the tuples and print out tuples

In [30]:
# Create an empty tuple without Python's built-in function
tuple1 = ()
type(tuple1)

tuple

In [6]:
# Create an empty tuple with Python's built-in function
tuple2 = tuple()
type(tuple2)

tuple

In [37]:
tuple3 = tuple([])
type(tuple3)

tuple

In [38]:
# another example of empty tuple without Python's built-in function
tuple4 =([])
type(tuple4)

list

In [9]:
# Create a tuple that contains three different data types

tuple5 = (1, 'yes', 2.33)
type(tuple5)

tuple

In [10]:
# Merge the two of the tuples you created using the + operator
print(tuple5 + tuple2)

(1, 'yes', 2.33)

In [12]:
# Iterate over one of the tuples and print out tuples
tuple5.count(2.33)

1

In [13]:
print(tuple5.count(2.33))

1

#### counting number of occurence in tuples
- Count the number of i's in the tuple vowels = ('a', 'e', 'i', 'o', 'i', 'u')
- Count the number of 7's in the tuple numbers = (1, 7, 2, 7, 3, 7, 4, 7, 5, 7, 6, 7, 7, 7)
- Count the number of [1, 2, 3] lists and ('f', 'd') tuples in the tuple tuple = (1, 'f', [1, 2, 3], [4, 5], ('f', 'd'), ('f', 'd', 'e'), [1, 2, 3], 'a')

In [61]:
# Count the number of i's in the tuple vowels = ('a', 'e', 'i', 'o', 'i', 'u')

tuple_vowels = ('a', 'e', 'i', 'o', 'i', 'u')
tuple_vowels.count('i')

2

In [17]:
# Count the number of 7's in the tuple numbers = (1, 7, 2, 7, 3, 7, 4, 7, 5, 7, 6, 7, 7, 7)
tuple_numbers = (1, 7, 2, 7, 3, 7, 4, 7, 5, 7, 6, 7, 7, 7)
tuple_numbers.count(7)

8

In [27]:
# Count the number of [1, 2, 3] lists and ('f', 'd') tuples in the tuple tuple = (1, 'f', [1, 2, 3], [4, 5], ('f', 'd'), ('f', 'd', 'e'), [1, 2, 3], 'a')
tuple_tuple = (1, 'f', [1, 2, 3], [4, 5], ('f', 'd'), ('f', 'd', 'e'), [1, 2, 3], 'a')
tuple_tuple.count([1,2,3]) , tuple_tuple. count(('f', 'd')) # This gives the result in one bracket

(2, 1)

In [37]:
a = tuple_tuple.count([1,2,3])
b = tuple_tuple. count(('f', 'd'))
print(a,'and', b)

2 and 1

#### Indexing Tuples 
- You have a tuple vowels = ('a', 'e', 'i', 'o', 'i', 'u')

- Find the first occurence of 'e' element
- Find the first occurence of 'i' element
- Find the first occurence of 'b' element. What does this return? What is the meaning of this error?
- The index() method can take one to three parameters. We used one of them so far: element, the item to scan. The two other paramaters this method can take are: - start_index - scanning of the - element will start from the start_index - end_index - scanning of the element will stop at the end_index
Find the first occurence of 'i' elemnts from index 4 to 8 in the following tuple alphabet = ('a', 'e', 'i', 'o', 'u', 'g', 'l', 'i', 'u')

In [5]:
# Find the first occurence of 'e' element in tuple_vowels = ('a', 'e', 'i', 'o', 'i', 'u')
# Find the first occurence of 'i' element in tuple_vowels = ('a', 'e', 'i', 'o', 'i', 'u')
tuple_vowels = ('a', 'e', 'i', 'o', 'i', 'u')


tuple_vowels.index('e')
tuple_vowels.index('i')

2

In [6]:
# creating tuples from indexing. Just me experimenting!

tuple_vowels.index('e'), tuple_vowels.index('i')

(1, 2)

In [ ]:
k = (tuple_vowels.index('e'), tuple_vowels.index('i'))
type(k)

In [72]:
# converting tuples to list. Just me experimenting!

[tuple_vowels.index('e'), tuple_vowels.index('i')]

[1, 2]

In [7]:
k = [tuple_vowels.index('e'), tuple_vowels.index('i')]
type(k)

list

In [8]:
print(f"e first appears at position {tuple_vowels.index('e')}")
print(f"i first appears at position {tuple_vowels.index('i')}")

e first appears at position 1
i first appears at position 2

In [10]:
# Find the first occurence of 'b' element. What does this return? What is the meaning of this error?
tuple_vowels.index('b')

ValueError: tuple.index(x): x not in tuple

In [69]:
# Find the first occurence of 'i' elements from index 4 to 8 in the following tuple alphabet = ('a', 'e', 'i', 'o', 'u', 'g', 'l', 'i', 'u')

tuple_alpha = ('a', 'e', 'i', 'o', 'u', 'g', 'l', 'i', 'u')
tuple_alpha[4:-1]
y = tuple_alpha[4:-1]
print(y)
y.index('i')
print(f"i first appears from index 4 to 8 at position {y.index('i')}")

('u', 'g', 'l', 'i')
i first appears from index 4 to 8 at position 3

In [70]:
# Find the first occurence of 'i' elements from index 4 to 8 in the following tuple alphabet = ('a', 'e', 'i', 'o', 'u', 'g', 'l', 'i', 'u')

tuple_alpha[4:-1].index('i')
print(f"the first occurence of the 'i' element from index 4 to 8 in the tuple alphabet is at position {tuple_alpha[4:-1].index('i')}")

the first occurence of the 'i' element from index 4 to 8 in the tuple alphabet is at position 3

#### Unpacking Tuples
- Initialise a tuple that contains four different data types. Unpack the tuple and print out each variable.
- Given a tuple = (70, "AiCore", 10, "Programming", 70) and x, *y, z = tuple. What do you think the output of the following print statements will be?
- print(x)
- print(y)
- print(z)
- Given a tuple = (70, "AiCore", 10, "Programming", 70) and x, y, *z = tuple. What do you think the output of the following print statements will be?

In [72]:
# Initialise a tuple that contains four different data types. Unpack the tuple and print out each variable.
# Method 1
tuple_datatypes = (78, True, 'The', 3.56)
int, bool, str, float = (78, True, 'The', 3.56)
print(f'{int} is an interger')
print(f'{bool} is a boolean')
print(f'{str} is a string')
print(f'{float} is a float')

78 is an interger
True is a boolean
The is a string
3.56 is a float

In [83]:
# Method 2
tuple_datatypes = (78, True, 'The', 3.56)
w, x, y, z = tuple_datatypes
print(f'{w} is an interger')
print(f'{x} is a boolean')
print(f'{y} is a string')
print(f'{z} is a float')

78 is an interger
True is a boolean
The is a string
3.56 is a float

In [75]:
# Given a tuple = (70, "AiCore", 10, "Programming", 70) and x, *y, z = tuple. 
# What do you think the output of the following print statements will be?
tuple = (70, "AiCore", 10, "Programming", 70)
x, *y, z = tuple
print(x)

70

In [76]:
print(y) # generates a LIST of elements excluding the first and last

['AiCore', 10, 'Programming']

In [77]:
print(z)

70

#### More unpacking practice using the * operator - Notes
- The Operator * ensures the any tuple element excluding the first and last is printed when called
- while *y generates all the elements b/w the 1st and last elements, y generates all the result b/w the 1st and last elements in a LIST form

In [94]:
# I am considering an Even element listed tuple_x (16 char)

tuple_x = (23, 45, 67, 2.33, 5.6, 58, 44, 79, 89, 71, 4.4, 33, 67, 33, 22, 99)
x,*y, z = tuple_x
print(x)
print(y)
print(z)
print (*y)
print( {*y}) # SET

23
[45, 67, 2.33, 5.6, 58, 44, 79, 89, 71, 4.4, 33, 67, 33, 22]
99
45 67 2.33 5.6 58 44 79 89 71 4.4 33 67 33 22
{33, 2.33, 67, 4.4, 5.6, 71, 44, 45, 79, 22, 89, 58}

#### SETS - Notes
#### Set = A List in curly brackets
- Sets are not subscriptable (They can't be indexed)
- Sets are not ordered (They are just a bag of variables)
- Sets do not contain any duplicate items.

In [1]:
my_set = {1, 5, 9, 11, 17, 19}
type(my_set)

set

#### Conversion of a Set to a List

In [3]:
my_list = [1, 2, 3, 11, 13, 15]
type(my_list)

list

In [4]:
# converting to my_list to a Set

my_list = set([1, 2, 3, 11, 13, 15])
type(my_list)

set

In [7]:
 # Sets do not contain any duplicate items.
 
my_set1 = {1, 5, 9, 11, 17, 17, 1, 9, 9, 3, 19, 5, 23, 44, 19}
print(my_set1)
len(my_set1) # excludes duplicates

{1, 3, 5, 9, 11, 44, 17, 19, 23}

9

#### Set Operations

In [9]:
a = {1, 2, 3, 4}
b = {4, 66, 57, 3, 79, 88}

a. intersection(b)

{3, 4}

In [10]:
a.union(b)

{1, 2, 3, 4, 57, 66, 79, 88}

In [11]:
a.difference(b) # what's in 'a' thats is not in 'b'

{1, 2}

In [12]:
b.difference(a) # what's in 'b' thats is not in 'a

{57, 66, 79, 88}

- symmetric_difference returns a set with the items that are in set_1 and set_2, but without the items that are in BOTH

In [77]:
a.symmetric_difference(b)

{1, 2, 57, 66, 79, 88}

In [78]:
b.symmetric_difference(a)

{1, 2, 57, 66, 79, 88}

#### How to Remove items from Set

In [19]:
# add or Remove items from Set
my_set.add(987)
print(my_set)

{1, 17, 19, 5, 987, 9, 11}

In [20]:
my_set.remove(987)
print(my_set)

{1, 17, 19, 5, 9, 11}

#### Discard method is used to check if an item is in the set without generating a error message

In [23]:
my_set.discard(987)

In [24]:
my_set.remove(987)

KeyError: 987

#### Retrieve the minimum and maximum value in the set using the min and the max functions

##### Me Experimenting again

In [73]:
# And retrieve the minimum and maximum value in the set using the min and the max functions

min(my_set), max(my_set), min(my_set1), max(my_set1) # such arrangement give birth to a Tuple

(1, 19, 1, 44)

In [31]:
x = min(my_set), max(my_set), min(my_set1), max(my_set1) 
type(x)

tuple

In [75]:
y = [min(my_set), max(my_set), min(my_set1), max(my_set1)] # such arrangement give birth to a Tuple
type(y)

list

In [76]:
z = {min(my_set), max(my_set), min(my_set1), max(my_set1)} # such arrangement give birth to a Set
type(z)

set

### milestone 3 Task 3.3 prerequisite Practice Excercise
#### Initialising Sets
- Create an empty set without Python's built-in function
- Create an empty set with Python's built-in function
- Iterate over one of the sets and print out the values

In [102]:
# Create an empty set without Python's built-in function
my_set1 = {*()}
type(my_set1)

set

In [104]:
# Create an empty set with Python's built-in function
my_set2 = set([])
type(my_set2)

set

In [105]:
# Iterate over one of the sets and print out the values
my_set2 = set([])
print(my_set2)

set()

#### find the min and max value in a set
- Find the maximum value in the following sets: set_int = {8, 16, 24, 1, 25, 3, 10, 65, 55} set_str = {'f', 'l', 'k', 'a', 'w'}
- Find the minimum value in the following sets: set_int = {4, 12, 10, 9, 4, 13} set_str = {'b', 'z', 't', 'm', 'y', 'c'}

In [106]:
# Find the maximum value in the following sets: set_int = {8, 16, 24, 1, 25, 3, 10, 65, 55} set_str = {'f', 'l', 'k', 'a', 'w'}
set_int = {8, 16, 24, 1, 25, 3, 10, 65, 55}
max(set_int)

65

In [107]:
set_str = {'f', 'l', 'k', 'a', 'w'}
max(set_str)

'w'

In [109]:
# Find the minimum value in the following sets: set_int = {4, 12, 10, 9, 4, 13} set_str = {'b', 'z', 't', 'm', 'y', 'c'}
set_int = {4, 12, 10, 9, 4, 13}
min(set_int)

4

In [110]:
set_str = {'b', 'z', 't', 'm', 'y', 'c'}
min(set_str)

'b'

#### Adding items to a set
- Given the set prime_numbers = {3, 5, 7, 11, 13}, add:
- a prime number to this set
- a set of prime numbers (hint: use update method)

In [112]:
prime_numbers = {3, 5, 7, 11, 13}
prime_numbers.add(17)
print(prime_numbers)

{17, 3, 5, 7, 11, 13}

In [117]:
 # Add a set of prime numbers (hint: use update method)
 # Method 1
 
prime_numbers.update([19, 23, 29, 31])
print(prime_numbers)

{3, 5, 7, 11, 13, 17, 19, 23, 29, 31}

In [119]:
# Method 2
prime_numbers.update({19, 23, 29, 31})
print(prime_numbers)

{3, 5, 7, 11, 13, 17, 19, 23, 29, 31}

#### Mathematical operation
- Given the following two sets: set1 = {15, 25, 35, 45, 55} set2 = {35, 45, 55, 65, 75}
- Return a set with the common items
- Return a set with the unique items
- Return a set that contains items in set1 or set 2 but not in both

In [120]:
# Return a set with the common items
set1 = {15, 25, 35, 45, 55} 
set2 = {35, 45, 55, 65, 75}

set1.intersection(set2)

{35, 45, 55}

In [121]:
# Return a set with the unique items
set1.union(set2)

{15, 25, 35, 45, 55, 65, 75}

In [124]:
# Return a set that contains items in set1 or set 2 but not in both
set1.difference(set2)

{15, 25}

In [123]:
set2.difference(set1)

{65, 75}

#### Finding the missing and Additional value in two lists
- list1 = [1, 2, 3, 4, 5, 6, 7, 8] list2 = [5, 6, 7, 8, 9, 10, 11, 12]
- Print the missing & additional items in list1 (hint: convert list to a set)
- Print the missing & additional items in list2

In [130]:
# Print the missing & additional items in list1 (hint: convert list to a set)

list1 = [1, 2, 3, 4, 5, 6, 7, 8] 
list2 = [5, 6, 7, 8, 9, 10, 11, 12]

list1 = set([1, 2, 3, 4, 5, 6, 7, 8])   # first convert the lists to set
list2 = set([5, 6, 7, 8, 9, 10, 11, 12])
(list1.intersection(list2)).union(list2.difference(list1))

{5, 6, 7, 8, 9, 10, 11, 12}

In [131]:
# Print the missing & additional items in list2
(list2.intersection(list1)).union(list1.difference(list2))

{1, 2, 3, 4, 5, 6, 7, 8}

- Find the common elements of three lists using sets. list1 = [1, 5, 10, 20, 40, 80] list2 = [6, 7, 20, 80, 100] list3 = [3, 4, 15, 20, 30, 70, 80, 120]

In [132]:
# Find the common elements of three lists using sets. list1 = [1, 5, 10, 20, 40, 80] list2 = [6, 7, 20, 80, 100] list3 = [3, 4, 15, 20, 30, 70, 80, 120]
list1 = [1, 5, 10, 20, 40, 80] 
list2 = [6, 7, 20, 80, 100] 
list3 = [3, 4, 15, 20, 30, 70, 80, 120]

# Convert to sets
list1 = set([1, 5, 10, 20, 40, 80]) 
list2 = set([6, 7, 20, 80, 100]) 
list3 = set([3, 4, 15, 20, 30, 70, 80, 120])
(list1).intersection(list2).intersection(list3)

{20, 80}

### Loops

- Learning Objectives
- Understand the concept of iterations (definite and indefinite).
- Learn how to use while loops.
- Learn how to use a basic for loop.
- Learn how to use a for loop with the range() function.
- Learn how to use range(len(iterable)) to iterate over an index.
- Learn how to use tuple unpacking in iterables.
- Learn how to iterate over dictionaries.
- Learn how to use conditional statements within for loops.
- Learn how to use the pass, break and continue keywords.
- Learn how to create and iterate through zip and enumerate objects.
- Learn how to write list comprehensions.
- Learn how to use conditionals within list comprehensions.

##### Iteration
- A data structure is considered iterable when it is capable of returning its elements one at a time, e.g. lists, tuples, strings and dictionaries (d.keys() returns a list).
- An iteration refers to the performance of the same operation repeatedly (often over each element of an iterable), e.g. multiplying each element in a list by 2 or retrieving index 0 of each item in a list of strings.

##### While Loops
- The while loop performs the same operation(s) while some boolean conditions are fulfilled.
- This is called indefinite iteration, where the number of iterations is unknown.
- While loops will not be explored in great detail here, as they are not highly useful in data science.

##### Basic syntax
- while some_condition:
- - do_something
- else:
- - do_something_else

##### The syntax comprises the following parts:
- The while keyword: This is the key to the statement; it indicates a while loop and refers to some_condition.
- The condition: The while keyword determines whether the condition is True and executes the dependent block of code if it is.
- do_something: This is the block of code to be executed if the condition is True.
- else statement: This is the block of code to be executed if the condition is False.

In [1]:
x = 0

while x < 5:
    print(f"The current value of x is {x}")
    x += 1
else:
    print("x not less than 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
x not less than 5

- Things to note.
- While the condition is True, the dependent block of code will be executed, and the program will loop to the while statement, revalidate the condition, and execute again if True.
- This continues indefinitely until the condition is false, hence the 'indefinite iteration'.
- A common mistake is to create an infinite loop, where the condition remains False, and the code continues to execute, thereby expending the memory resources until the computer crashes.
- Therefore, it is highly recommended to include a way of adjusting the condition inside the loop, either in the do_something statement or using the break keyword (see below).

#### The break keyword
- The break keyword is used to exit a loop. Conventionally, it is used with an if statement to exit the loop if a condition is fulfilled.
- If the break keyword is applied, the code will not loop. It will halt its execution there and move on to the next statement.
This can be observed in the below code where 2 is not printed. The print statement is indented, along with the latter part of the loop.

In [1]:
x = 0
while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

##### For Loops
- For loops perform an operation on each element in an iterable (each character in a string or each item in a list) until no element is left in the iterable.
- This form of iteration is called definite iteration, where the number of iterations is known.
- Further, this is an example of Don't Repeat Yourself (DRY) coding, since a single For loop performs numerous operations in one pass.
- As opposed to the while loop, the for loop is limited by the number of items in the iterable.

##### Basic syntax
[ ]
- for i in iterable:
-     do_something
-     do_something_to_i
- The syntax can be broken down, as follows:

- i is the counter variable; it can be anything provided that it is consistent. For readability, the best practice is to use naming words, such as city in cities, item in items, etc, where cities or items is the name of the iterable.
- i refers to each element in the iterable in a given iteration; thus, we can employ i in the do_something block.
- in is the keyword, in, referencing the following iterable.
- iterable is the data structure over which the operation is performed, e.g. the list name.
- colon indicates control flow and signals an indentation, completing the set phrase.
- do_something is the code block to be executed on each element; i is often used in this code block, although other alphabets are permissible.

In [1]:
items = ["hat", "boots", "jacket", "gloves"]

for item in items:
    print(f'Hello, I have a: {item}')

Hello, I have a: hat
Hello, I have a: boots
Hello, I have a: jacket
Hello, I have a: gloves

##### The range() function
- for i in range(start,stop,step):
- - do_something
- - do_something_to_i

- -If one argument is specified, e.g. range(3), the range defaults to start = 0 and step = 1 and considers the argument as the ending number -1. Therefore, range(3) contains 0, 1 and 2.
- -If two arguments are specified, e.g. range(5,20), the first is the start number, and the second is stop number-1.

In [2]:
list((range(5)))

[0, 1, 2, 3, 4]

In [4]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
list(range(5, 20, 2))

[5, 7, 9, 11, 13, 15, 17, 19]

In [10]:
ls = [1, 5, 6, 7, 8, 9]
ls[2], len(ls)

(6, 6)

In [27]:
for i in range(len(ls)):
    print(i)

0
1
2
3
4
5

In [11]:
range(len(ls))

range(0, 6)

In [14]:
print(list(range(3))), print(list(range(5,20))), print(list(range(5,10,2)))

[0, 1, 2]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[5, 7, 9]

(None, None, None)

##### The range(len(iterable)) function

In [39]:
items = ["hat", "boots", "jacket", "gloves"]

#counter = 0
for i in range(len(items)):
    items[i] = items[i].upper()
print(items)

['HAT', 'BOOTS', 'JACKET', 'GLOVES']

In [42]:
for i in range(len(items)):
    print(i)

0
1
2
3

#### Tuple packing and unpacking
- A quick revision of the lesson on tuples.
- Tuple unpacking is one of the most powerful features of tuples.
- Using the comma syntax below, Python automatically selects elements from a tuple and assigns them to variables.
- his feature can be applied to For loops, particularly when iterating over dictionaries.

In [ ]:
# Python here 'unpacks' the tuple automatically and picks out the values and assigns them to the comma-separated
# variables
a, b = (1, 2)

print(a)
print(b)

##### For Loops with Dictionaries
- There are two possible approaches for applying the For loop to dictionaries:
- by iterating through d.keys(), since it returns a list.
- by applying tuple unpacking to iterate through d.items(), since it returns a list of paired tuples.
- The second approach enables the operation of both keys and items in a highly readable format.

In [45]:
# Here, we see that the .keys() method returns a list.
prices = {"tomato":0.87, "sugar":1.09, "sponges":0.29, "juice":1.89, "foil":1.29}

prices.keys()
# prices.values()

dict_values([0.87, 1.09, 0.29, 1.89, 1.29])

In [46]:

# Here, the keys and items are selected from a dictionary and added to a list.
prices = {"tomato":0.87, "sugar":1.09, "sponges":0.29, "juice":1.89, "foil":1.29}
# initialise the empty lists

code_list = []
price_list = []

for key in prices.keys():

    # append the key itself to code_list
    code_list.append(key)

    # use the key to select the value and append that to price_list
    price_list.append(prices[key])

print(code_list)
print(price_list)

['tomato', 'sugar', 'sponges', 'juice', 'foil']
[0.87, 1.09, 0.29, 1.89, 1.29]

##### Method 2

In [47]:
# Here, we can see that the .items() method returns a list of paired tuples.
prices.items()

dict_items([('tomato', 0.87), ('sugar', 1.09), ('sponges', 0.29), ('juice', 1.89), ('foil', 1.29)])

In [50]:
# Here, we perform the same operation; however, we apply tuple unpacking on d.keys this time.

code_list = []
price_list = []
#key, value = ('tomato', 0.87)

#key, value = ('sugar', 1.09)

for key, value in prices.items():
    
    # This line is the same as above.
    code_list.append(key)
    
    # Here, we access the value as well and directly append that to price_list.
    price_list.append(value)
    
print(code_list)
print(price_list)

['tomato', 'sugar', 'sponges', 'juice', 'foil']
[0.87, 1.09, 0.29, 1.89, 1.29]

- Other operations can also be performed using tuple unpacking.

In [57]:
prices = {"tomato":0.87, "sugar":1.09, "sponges":0.29, "juice":1.89, "foil":1.29}

for key, value in prices.items():
   
   print(f"Item Code: {key}\nPrice: £{value}\n")

Item Code: tomato
Price: £0.87

Item Code: sugar
Price: £1.09

Item Code: sponges
Price: £0.29

Item Code: juice
Price: £1.89

Item Code: foil
Price: £1.29

##### If statements within For loops
- Control flow can be applied within For loops to perform varying operations depending on conditions.

In [81]:
# We encode a list of heights and weights as a list of tuples.
heights_weights = [(1.78, 79), (1.55, 61), (2.09, 135),
                   (1.71, 70), (1.71, 95), (1.71, 55)]


# We set bmis as an empty list to append the bmi values.
bmis = []


# We apply tuple unpacking to add bmi values to bmis.
for height, weight in heights_weights:
    bmis.append(round(weight / (height ** 2),1)) # rounding up before if statement bug fix applied or ele h = 1.78 and w = 79 will give wrong result


# we print bmis here to show the intermediate list (ordinarily, we would not do this).
print(f"This is the list of BMIs: {bmis}\n")


# We loop over the bmi list to assign the values to the correct message.
for bmi in bmis:
    if bmi < 18.5:
        print(
            f"You're in the underweight range. Your BMI is {(bmi)}.")
    elif bmi <= 24.9:
        print(
            f"You're in the healthy weight range. Your BMI is {(bmi)}.")
    elif bmi <= 29.9:
        print(
            f"You're in the overweight range. Your BMI is {(bmi)}.")
    elif bmi <= 39.9:
        print(f"You're in the obese range. Your BMI is {(bmi)}.")

This is the list of BMIs: [24.9, 25.4, 30.9, 23.9, 32.5, 18.8]

You're in the healthy weight range. Your BMI is 24.9.
You're in the overweight range. Your BMI is 25.4.
You're in the obese range. Your BMI is 30.9.
You're in the healthy weight range. Your BMI is 23.9.
You're in the obese range. Your BMI is 32.5.
You're in the healthy weight range. Your BMI is 18.8.

- Here, we use the example of a BMI calculator to demonstrate the combined use of a few concepts.
- For ease of calculation, heights are in metres and weights in kilograms.
- Note that this can also be performed in a single For loop, as shown below:

In [83]:
heights_weights = [(1.78, 79),(1.55, 61),(2.09, 135),(1.71, 70),(1.71, 95),(1.71, 55)]

for height, weight in heights_weights:
    
    # Here, we calculate bmi within the For loop using the paired tuple values before passing the bmi value
    # into the subsequent if statements.
    bmi = weight/height**2 

    if bmi < 18.5:
        print("You're in the underweight range. Your BMI is {:3.1f}".format(bmi))
    elif bmi <= 24.9:
        print("You're in the healthy weight range. Your BMI is {:3.1f}".format(bmi))
    elif bmi <= 29.9:
        print("You're in the overweight range. Your BMI is {:3.1f}".format(bmi))
    elif bmi <= 39.9:
        print("You're in the obese range. Your BMI is {:3.1f}".format(bmi))

You're in the overweight range. Your BMI is 24.9
You're in the overweight range. Your BMI is 25.4
You're in the obese range. Your BMI is 30.9
You're in the healthy weight range. Your BMI is 23.9
You're in the obese range. Your BMI is 32.5
You're in the healthy weight range. Your BMI is 18.8

##### The pass, break and continue keywords
- The pass keyword serves as a placeholder in an empty loop. It means 'do nothing'.
- The pass keyword is applied when an empty loop (or function) is present in our code. In other words, the pass keyword ensures that the rest of the code outside the empty loop runs.
- The break keyword terminates the loop when triggered.
- The continue keyword moves to the top of the nearest enclosing loop and skips onto the next iteration.
- Generally, these keywords are used within a conditional to terminate a loop or skip an iteration when a condition is met.

In [84]:
# used for developing code. If left empty, Python throws an error.
x, y = 10, 5

for i in range(20):
    ### To be completed
    pass

print(x,y)

10 5

In [104]:
for i in range(12):
    if i % 3 == 0:
        continue
        print(f'{i} is divisible by 3')
    print(f'I am not skipped because {i} is not divisible by 3')
print((f'{i} is divisible by 3'))

I am not skipped because 1 is not divisible by 3
I am not skipped because 2 is not divisible by 3
I am not skipped because 4 is not divisible by 3
I am not skipped because 5 is not divisible by 3
I am not skipped because 7 is not divisible by 3
I am not skipped because 8 is not divisible by 3
I am not skipped because 10 is not divisible by 3
I am not skipped because 11 is not divisible by 3
11 is divisible by 3

In [119]:
for x in range(1,12):
    if x % 11 == 0:
        break
    else:
        print(x)

1
2
3
4
5
6
7
8
9
10

##### Zip and enumerate
- The zip() function combines iterables into tuples; however, zip is an iterator that returns a zip object, which must then be iterated over or converted into a list to be viewed.
- If the * argument is passed, it can unzip into tuples.
T- he enumerate() function returns an iterator of tuples, containing (index, item).
- This is useful for operations on both indices and items, e.g. combining a For loop on an iterable with a For loop on range(len(iterable)).

In [120]:
# zip() creates a zip object, which must be iterated or listed to be viewed.

items = ["tomato", "sugar", "sponges", "juice", "foil"]
prices = [0.87, 1.09, 0.29, 1.89, 1.29]

items_and_prices = zip(items, prices) # creating a zip object 

print(list(items_and_prices))

[('tomato', 0.87), ('sugar', 1.09), ('sponges', 0.29), ('juice', 1.89), ('foil', 1.29)]

In [121]:
for item, price in zip(items, prices):
    print(item, price)

tomato 0.87
sugar 1.09
sponges 0.29
juice 1.89
foil 1.29

In [122]:
# We can unzip a zip object into tuples by passing * into the zip call.

items_and_prices = zip(items, prices) # creating zip object

tuple_of_items, tuple_of_prices = zip(*items_and_prices) # unzipping zip object

print(tuple_of_items)
print(tuple_of_prices)

('tomato', 'sugar', 'sponges', 'juice', 'foil')
(0.87, 1.09, 0.29, 1.89, 1.29)

In [123]:
# can iterate over and perform operations on a zip object

for item, price in zip(items, prices):
    print(f"The price of {item} is £{price}")

The price of tomato is £0.87
The price of sugar is £1.09
The price of sponges is £0.29
The price of juice is £1.89
The price of foil is £1.29

In [125]:
# enumerate() gives both the items and their indices that can be operated on

items = ["hat", "scarf", "coat", "gloves"]


for index, item in enumerate(items):
    print(index, item)

0 hat
1 scarf
2 coat
3 gloves

In [130]:
# enumerate objects can be shown in lists/tuples as well
print(tuple(enumerate(items)))

((0, 'hat'), (1, 'scarf'), (2, 'coat'), (3, 'gloves'))

##### A note on the * operator
- Conventionally, the * operator performs multiplication. However, in this case, it is used to unzip a zip object. It is important to understand what actually occurs.
- Think of * as a container destructor.

In [133]:
zipped = [(1, 2), (3, 4)]
print(*zipped) # unpacks the zipped instance into its components
zipped = [[(1, 2), (3, 4)]]
print(*zipped)
# think of * as an operator that removes the squared brackets
zipped = [((1, 2), (3, 4))]
print(*zipped)

(1, 2) (3, 4)
[(1, 2), (3, 4)]
((1, 2), (3, 4))

###### Think of * as a container or bracket BUSTER :).

In [140]:
[*(1, 2, 3)] # In this case, it removes the brackets, and the result will be a list containing 1, 2 and 3.

[1, 2, 3]

In [141]:
[*((1, 2), (3, 4))]

[(1, 2), (3, 4)]

In [139]:
[*(*(1, 2), (3, 4))]

[1, 2, (3, 4)]

In [149]:
(*(1, 2), *(3, 4))

(1, 2, 3, 4)

- The zip function can be used with as many arguments as possible. It will create tuples with the same number of items of arguments used. 
- Thus, in this case, we have tuples of three items.

In [154]:
items =  ["tomato", "sugar", "sponges", "juice", "foil"]
prices = [0.87,      1.09,     0.29,      1.89,    1.29]
item =   [1,            2,        3,         4,     5]

print(list(zip(items, prices, item)))

print(tuple(zip(items, prices, item)))

[('tomato', 0.87, 1), ('sugar', 1.09, 2), ('sponges', 0.29, 3), ('juice', 1.89, 4), ('foil', 1.29, 5)]
(('tomato', 0.87, 1), ('sugar', 1.09, 2), ('sponges', 0.29, 3), ('juice', 1.89, 4), ('foil', 1.29, 5))

In [155]:
items = ["tomato", "sugar", "sponges", "juice", "foil"]
prices = [0.87,      1.09,     0.29,     1.89,    1.29]

items_and_prices = zip(items, prices)  # We create a list of tuples.
print(list(items_and_prices))

items_and_prices = zip(items, prices)  # We create a list of tuples.
# We reinstantiate it because once we use the list function into the zip object,
# it changes its status.
# We remove the square brackets, obtaining five tuples.
print(list(zip(*items_and_prices)))
# Subsequently, we zip all the five tuples, yielding tuples with five items each.

[('tomato', 0.87), ('sugar', 1.09), ('sponges', 0.29), ('juice', 1.89), ('foil', 1.29)]
[('tomato', 'sugar', 'sponges', 'juice', 'foil'), (0.87, 1.09, 0.29, 1.89, 1.29)]

- Notably, dictionaries can also be unpacked following the same approach employed for zip files or iterables; the difference is that ** is used instead.

In [1]:
dict_1 = {'A': 1, 'B': 2}
dict_2 = {'C': 3, 'D': 4}

print({**dict_1})# ** removes the curly brackets, affording something like 'A' = 1 and 'B' = 2.

# We can also unpack two dictionaries and merge them.

print({**dict_1, **dict_2}) # We obtain something like 'A' = 1, 'B' = 2, 'C' = 3, 'D' = 4.

{'A': 1, 'B': 2}
{'A': 1, 'B': 2, 'C': 3, 'D': 4}

- These operators can also be applied to functions, as will be demonstrated in the next lesson.

In [157]:
# * and ** can serve as the inputs for a function.

def fun_dummy(*args, **kwargs): # args = arguments; kwargs = key word arguments
    print(args) # args is now a tuple
    print(kwargs) # kwargs is now a dictionary

fun_dummy(1, 2, 3, a=4, b=5, c=6) 
# Anything without a keyword argument (by keyword we mean a, b, c) will be a tuple in the function.
# Anything with a keyword argument will be included in a dictionary in the function.

(1, 2, 3)
{'a': 4, 'b': 5, 'c': 6}

##### List comprehensions
- List comprehension is a significantly more efficient approach for writing a For loop that generates or modifies a list.
- It is suitable in cases where .append() is applied to a list inside a For loop or where a list is iterated over to modify each index item; otherwise, a For loop is preferred.
- Complex For loops operating on a list, such as the BMI calculator, are not suitable for list comprehensions. They would be overly complex and difficult to read.
- List comprehensions are written on a single line, and the syntax is as follows:
- - for item in iterable:
- - - do_something
- - [do_something for item in iterable]

In [161]:
squares = []

for i in range(5):
    squares.append(i**2)

print(squares)

[0, 1, 4, 9, 16]

##### becomes

In [ ]:
squares = [i**2 for i in range(10)]

##### List comprehensions using conditionals
- Conditionals in list comprehensions are of two types.
- When adding only an if statement, the conditional goes after the For statement.
- When adding if/else statements, the conditional goes before the For statement.

In [1]:
squared_threes = []

for x in range(10):
    if x%3 == 0:
        squared_threes.append(x**2)

print(squared_threes)

[0, 9, 36, 81]

##### The above code becomes

In [164]:
squared_threes = [x**2 for x in range(10) if x%3==0]

print(squared_threes)

[0, 9, 36, 81]

##### If if/else is used,

In [ ]:
squares_and_cubes = []

for x in range(10):
    if x%3 == 0:
        squares_and_cubes.append(x**3)
    else:
        squares_and_cubes.append(x**2)

print(squares_and_cubes)

##### The above code becomes

In [165]:
squares_and_cubes = [x**3 if x%3==0 else x**2 for x in range(10)]

print(squares_and_cubes)

[0, 1, 4, 27, 16, 25, 216, 49, 64, 729]

##### Dictionary comprehensions
- In Python, dictionary comprehensions can also be employed to create a new dictionary rapidly and efficiently.
- They are utilised as a method to create a new dictionary from another.
- The logic is the same as that for list comprehensions; however, the syntax is different because of the structure of dictionaries.

In [166]:
numbers_dict = {"First": 2, "Second": 3, "Third": 4, "Fourth": 5, "Fifth": 6}

for key, value in numbers_dict.items():
    numbers_dict[key] = value**2
    
print(numbers_dict)

{'First': 4, 'Second': 9, 'Third': 16, 'Fourth': 25, 'Fifth': 36}

##### The above code becomes

In [ ]:
numbers_dict = {"First": 2, "Second": 3, "Third": 4, "Fourth": 5, "Fifth": 6}

squared_dict = {key:value**2 for key, value in numbers_dict.items()}
print(squared_dict)

- Conditionals can also be introduced, as follows:

In [168]:
numbers_dict = {"First": 2, "Second": 3, "Third": 4, "Fourth": 5, "Fifth": 6}

for key, value in numbers_dict.items():
    if numbers_dict[key]%2 == 0:
        numbers_dict[key] = value**2

print(numbers_dict)

{'First': 4, 'Second': 3, 'Third': 16, 'Fourth': 5, 'Fifth': 36}

##### The above code becomes

In [167]:
numbers_dict = {"First": 2, "Second": 3, "Third": 4, "Fourth": 5, "Fifth": 6}

squared_dict = {key:value**2 if value%2==0 else value for key,value in numbers_dict.items()}
print(squared_dict)

{'First': 4, 'Second': 3, 'Third': 16, 'Fourth': 5, 'Fifth': 36}

##### Moreover, new dictionaries can be built from old dictionaries using conditionals:

In [169]:
umbers_dict = {"First": 2, "Second": 3, "Third": 4, "Fourth": 5, "Fifth": 6}

new_squared_dict = {key:value**2 for key,value in numbers_dict.items() if value%2==0}
print(new_squared_dict)

{'First': 16, 'Third': 256, 'Fifth': 1296}

##### A word of caution
- Comprehensions with conditionals can rapidly become overly complicated and unreadable, thereby providing you a false sense of security in your skill as a programmer.
- Oftentimes, a For loop statement is cleaner and more readable (for both you and others) than a complicated list comprehension.
- Priority should always be accorded to readability, rather than completing as many operations as humanly possible on a line.

##### Nested For loops
- For loops can be nested, i.e. used within other For loops.
- The control flow in nested For loops is as follows: the outer loop performs all iterations of the inner loop on its first item before moving to the next iteration and repeating.
- There is also a list comprehension equivalent of a nested For loop.
- For loop nesting can be applied indefinitely (i.e. several levels deep); however, beyond a single nested structure, it becomes complicated to comprehend.
- Nested For loops should be avoided where possible because the deeper the levels, the more inefficient the code.
- However, there are some legitimate use cases for them, e.g. iteration over multiple lists.

In [171]:
# basic syntax: inner loop operations are performed for each outer loop operation
for i in range(1,4):
    print(f"Outer Loop Operation: {i}")
    
    for j in range(1,4):
        print(f"Inner Loop Operation: {j}")
    
    print() # adds new line

Outer Loop Operation: 1
Inner Loop Operation: 1
Inner Loop Operation: 2
Inner Loop Operation: 3
5
Outer Loop Operation: 2
Inner Loop Operation: 1
Inner Loop Operation: 2
Inner Loop Operation: 3
5
Outer Loop Operation: 3
Inner Loop Operation: 1
Inner Loop Operation: 2
Inner Loop Operation: 3
5

In [172]:
# We perform operations using both counters.
mylist = []

for x in [2,3,4]:
    for y in [1,2,3]:
        mylist.append(x**y)

print(mylist)

[2, 4, 8, 3, 9, 27, 4, 16, 64]

In [173]:
# list comprehension syntax: operation first, followed by both For statements
[x**y for x in [2,3,4] for y in [1,2,3]]

[2, 4, 8, 3, 9, 27, 4, 16, 64]

##### Conclusion
- Admittedly, this was a heavy lesson. Please always refer to this notebook when you require clarification or some forgotten information.
- At this point, you should have a fair understanding of :
- - the concept of iterations, both definite and indefinite.
- - while and for loops.
- - the difference between iterating over items and iterating over indices.
- - how to use conditionals in a For loop.
- - tuple unpacking and its applications.
- - the uses of the pass, break and continue keywords.
- - how to use the zip() and enumerate() functions.
- - how and when to use list comprehensions.
##### Further Reading
- While statements: https://docs.python.org/3.8/reference/compound_stmts.html#while
- Everything you need to know regarding For loops is contained in this notebook. However, you can refer to the book 'Learning Python' by Mark Lutz. Note that it is a reference material with over 1000 - pages and a whole chapter on 'for' loops. A pdf is available here: https://cfm.ehu.es/ricardo/docs/python/Learning_Python.pdf