#### Import pandas as pd in a virtual Enviroment

In [14]:
import pandas as pd
pd. __version__

'1.4.4'

#### Creating a DataFrame From Lists

In [23]:

listPepper = [ 
            [50, "Bell pepper", "Not even spicy"], 
            [5000, "Espelette pepper", "Uncomfortable"], 
            [500000, "Chocolate habanero", "Practically ate pepper spray"]
            ]

dataFrame1 = pd.DataFrame(listPepper)
print(dataFrame1)

        0                   1                             2
0      50         Bell pepper                Not even spicy
1    5000    Espelette pepper                 Uncomfortable
2  500000  Chocolate habanero  Practically ate pepper spray

In [17]:
ds = pd.DataFrame({"Romeo": [95, 28, 32], "Harry": [42, 35,56],
"Blake": [11, 22, 39], "Maya": [40, 50, 65],"Hubert": [91, 91, 93], 
"Jane": [74, 11, 61]})
print(ds)

   Romeo  Harry  Blake  Maya  Hubert  Jane
0     95     42     11    40      91    74
1     28     35     22    50      91    11
2     32     56     39    65      93    61

In [15]:
ds = pd.DataFrame({"Romeo": [95, 28, 32], "Harry": [42, 35,56],
"Blake": [11, 22, 39], "Maya": [40, 50, 65],"Hubert": [91, 91, 93], 
"Jane": [74, 11, 61]},index=['1st_mark', '2nd_mark', '3rd_mark'])
print(ds)

          Romeo  Harry  Blake  Maya  Hubert  Jane
1st_mark     95     42     11    40      91    74
2nd_mark     28     35     22    50      91    11
3rd_mark     32     56     39    65      93    61

In [5]:
df = pd.DataFrame({'num_legs': [2, 4, 8, 0],'num_wings': [2, 0, 0, 0],
'num_specimen_seen': [10, 2, 1, 8]},
index=['falcon', 'dog', 'spider', 'fish'])
print(df)

        num_legs  num_wings  num_specimen_seen
falcon         2          2                 10
dog            4          0                  2
spider         8          0                  1
fish           0          0                  8

#### Another data representation you can use here is to provide the data as a list of dictionaries

In [22]:
import pandas as pd
listPepper = [
  {'Scoville' : 50, 'Name' : 'Bell pepper', 'Feeling' : 'Not even spicy'},
  {'Scoville' : 5000, 'Name' : 'Espelette pepper', 'Feeling' : 'Uncomfortable'},
  {'Scoville' : 500000, 'Name' : 'Chocolate habanero', 'Feeling' : 'Practically ate pepper spray'},
]
dx = pd.DataFrame(listPepper, index=['1#', '2#', '3#'])
print(dx)

    Scoville                Name                       Feeling
1#        50         Bell pepper                Not even spicy
2#      5000    Espelette pepper                 Uncomfortable
3#    500000  Chocolate habanero  Practically ate pepper spray

In [5]:
"""TASK 2"""

mylist = ["yellow", "blue", "car", "green", "wine", "goods", "weather", "safety"]
#print(dir(random))

import random
random.choice(mylist)
word = random.choice(mylist)
print(word)

weather

#### input() function always returns its value as a string

In [27]:
#type(input())
#print(var1.upper())
#len(my_list)
#[A or B or C or D or E or F or G or H or I or J or K or L 
# or M or N or O or P or Q or R or S or T or U or V or W or X or Y or Z ]:
#a = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
#a = ["A","B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"]







#a = ["A","B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"]
#print(a[0] or a[1] or a[2] or a[3] or a[4] or a[5] or a[6] or a[7] or a[8] or a[9] or a[10] or a[11] or a[12] or a[13] or a[14] or a[15] or a[16] or a[17] or a[18] or a[19] or a[20] or a[21] or a[22] or a[23] or a[24] or (a[-1]))
#x = guess.isalpha
#y = len(guess)
#b = [1]
#n = b[0]


guess = input("Please enter a singleLetter: ")
#if guess := 1 or 2 or 3 or 4 or 5 or 6 or 7 or 8 or 9 or 0:
    #print("invalid input... try again")
#elif guess == str(guess) and len(guess) == 1 :
    #print("Good guess!")
#else:
    #print("Oops! That is not a valid input.")



#if (len(guess) <= 1) and (guess !=  and (guess == a[0] or a[1] or a[2] or a[3] or a[4] or a[5] or a[6] or a[7] or a[8] or a[9] or a[10] or a[11] or a[12] or a[13] or a[14] or a[15] or a[16] or a[17] or a[18] or a[19] or a[20] or a[21] or a[22] or a[23] or a[24] or a[-1]):
 #print(guess)
#else:
 #print('error')
#len(guess)

invalid input... try again

In [79]:
#TASK 4


"""Usually, when taking input from users, it is best to validate that the input makes sense. For example, we may want to ensure that only a single letter is entered and that only alphabetical characters are provided by the user. To do this, create conditional checks that must be passed before the input can be accepted.

Step 1. Create an if statement that checks if the length of the input is equal to 1 and the input is an alphabet.

Step 2: In the body of the if statement, print a message that says "Good guess!".

Step 3: Create an else block that prints "Oops! That is not a valid input." if the preceeding conditions are not met."""


guess = input("Please enter a single Character: ")

if  guess.isalpha() == True and len(guess) == 1:
    print("Good guess!")
elif  guess.isalpha() == False and len(guess) == 1:
    print("invalid input... Please Enter a single Character")         
else:
    print("Oops! That is not a valid input.")

Oops! That is not a valid input.

### Sets (data type used for uniqueness) i.e they do not contain any duplicate items
### Sets are defined with {}
### Sets cannot not be indexed i.e they are not subcriptable because they are not ordered i.e not sequenced
### Sets can be created by casting a list in a set by using the set set([xxxxxxxxx]) constructor
#### a.intersection(b)
#### a.union(b)
#### a.difference(b) i.e whats in 'a' thats not in 'b'
#### b.difference(c) i.e whats in 'b' thats not in 'a'
#### a.add(whatever)
#### a.remove(whatever)
#### a.discard(whatevre) will not throw an error if the item does not exist unlike the remove

In [273]:
#Create an empty set without Python's built-in function
#Create an empty set with Python's built-in function
#Iterate over one of the sets and print out the values

my_set = {1, 2, 4 ,6 , 9}
her_set = set([]) # pythons built in function set([]) converts a list to a set
for elements in my_set:
    print(elements)
for elements in her_set:
    print(her_set)
    
print(type(my_set))
print(type(her_set))

1
2
4
6
9
<class 'set'>
<class 'set'>

In [88]:
# Find the maximum value in the following sets: 
set_int = {8, 16, 24, 1, 25, 3, 10, 65, 55} 
set_str = {'f', 'l', 'k', 'a', 'w'}
# Find the minimum value in the following sets: 
set2_int = {4, 12, 10, 9, 4, 13} 
set2_str = {'b', 'z', 't', 'm', 'y', 'c'}

print(max(set_int))
print(max(set_str))

print(min(set2_int))
print(min(set2_str))

65
w
4
b

### add() Method

In [93]:
#Given the set prime_numbers = {3, 5, 7, 11, 13}, add:
#1. a prime number to this set
#2. a set of prime numbers (hint: use update method)

prime_numbers = {3, 5, 7, 11, 13}
prime_numbers.add(17)
print(prime_numbers)

{17, 3, 5, 7, 11, 13}

### update() Method

In [97]:
prime_numbers = {3, 5, 7, 11, 13}
prime_numbers.update({19, 23, 29, 31, 37, 41, 47}) # update(iterable) Method 
print(prime_numbers)

{3, 5, 37, 7, 41, 11, 13, 47, 19, 23, 29, 31}

### Set() operations

In [102]:
#Given the following two sets: set1 = {15, 25, 35, 45, 55} set2 = {35, 45, 55, 65, 75}
#Return a set with the common items
#Return a set with the unique items
#Return a set that contains items in set1 or set 2 but not in both

set1 = {15, 25, 35, 45, 55} 
set2 = {35, 45, 55, 65, 75}

print(set1.intersection(set2))
print(set1.union(set2))
print((set1.union(set2)).difference(set1.intersection(set2)))

{35, 45, 55}
{65, 35, 75, 45, 15, 55, 25}
{65, 75, 25, 15}

In [142]:
#Print the missing & additional items in list1 (hint: convert list to a set)
#Print the missing & additional items in list2

list1 = [1, 2, 3, 4, 5, 6, 7, 8] 
list2 = [5, 6, 7, 8, 9, 10, 11, 12]

list1 = set([1, 2, 3, 4, 5, 6, 7, 8]) 
print(list1)
list2 = set([5, 6, 7, 8, 9, 10, 11, 12])
print(list2)

# missing items
print((list1.union(list2)))  # still a Set
print(list(list1.union(list2))) # converted back to a list

print(type(list1.union(list2)))
print(type(list(list1.union(list2)))) 

# additional items
print ("----------------------------------------")
list1 = list([1, 2, 3, 4, 5, 6, 7, 8])      # convert back to list becausee duplicates are not allowed in Sets
print(type(list1))                          #Check
list2 = list([5, 6, 7, 8, 9, 10, 11, 12])   # convert back to list becausee duplicates are not allowed in Sets
print(type(list2))                          #check
list1.extend(list2) 
print(list1)                                #  extend list contains duplicates

{1, 2, 3, 4, 5, 6, 7, 8}
{5, 6, 7, 8, 9, 10, 11, 12}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
<class 'set'>
<class 'list'>
----------------------------------------
<class 'list'>
<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 10, 11, 12]

In [143]:
#list1 = list([1, 2, 3, 4, 5, 6, 7, 8])      
#print(type(list1))                          
#list2 = list([5, 6, 7, 8, 9, 10, 11, 12])
list1 = set([1, 2, 3, 4, 5, 6, 7, 8]) 
print(list1)
list2 = set([5, 6, 7, 8, 9, 10, 11, 12])
print(list2)

print((list2.union(list1)))  # still a Set
print(list(list2.union(list1))) # converted back to a list

# additional items
print ("----------------------------------------")
list1 = list([1, 2, 3, 4, 5, 6, 7, 8])      # convert back to list becausee duplicates are not allowed in Sets
print(type(list1))                          #Check
list2 = list([5, 6, 7, 8, 9, 10, 11, 12])   # convert back to list becausee duplicates are not allowed in Sets
print(type(list2))                          #check
list2.extend(list1) 
print(list2)                                #  extend list contains duplicates

{1, 2, 3, 4, 5, 6, 7, 8}
{5, 6, 7, 8, 9, 10, 11, 12}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
----------------------------------------
<class 'list'>
<class 'list'>
[5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8]

In [145]:
#Find the common elements of three lists using sets. 
list1 = [1, 5, 10, 20, 40, 80] 
list2 = [6, 7, 20, 80, 100] 
list3 = [3, 4, 15, 20, 30, 70, 80, 120]

list1 = set([1, 5, 10, 20, 40, 80]) 
list2 = set([6, 7, 20, 80, 100]) 
list3 = set([3, 4, 15, 20, 30, 70, 80, 120])

print((list1.intersection(list2)).intersection(list3))

{80, 20}

## Dictionaries
##### my_dict = {
#####   "key_1": 1,
#####   "key_2": 42,
#####   "key_3":"Hello"
##### }

##### my_dict = {"key_1": 1,  "key_2": 42,  "key_3":"Hello"}
#### Key can be whatever you want as long as they are not Mutable data type e.g Strings
#### while values can take up any data type.

In [122]:
my_dict = {"key_1": 1,"key_2": 42,"key_3":"Hello"}

# indexing
my_dict['key_1']
var = my_dict['key_1']
print (var)

# add a new key (mutability of dictionary)
my_dict["new_key"] = 55
print(my_dict)

# change a value to a key (mutability)
my_dict["new_key"] = 66
print(my_dict)
print("-----------------------------------------------------")

# NESTED DICTIONARIES 
my_dict = {
    "key_1": 1,
    "key_2": 42,
    "key_3":"Hello",
    "anotherkey": [1,2,3],
    "dictionary_value": {"name": "Harry","fav_number":2},
    "another_nested_dict": {"dict_key": { "hello": "hola"}, "list_key": [1,True, 'Goodbye']}
    }
print(my_dict["dictionary_value"]["name"])

#Going deep
#Use indexing to get the string "Python" from the following dictionary: 
one_deep_dictionary = {
    'start here':1,
    'k1':[1,2,3,{'k2':[1,2,{'k3':['keep going',{'further':[1,2,3,4,[{'k4':'Python'}]]}]}]}]
    }
print(list(one_deep_dictionary['k1'][3]['k2'][2]['k3'][1]['further'][4][0]['k4']))
#one_deep_dictionary['k4']

1
{'key_1': 1, 'key_2': 42, 'key_3': 'Hello', 'new_key': 55}
{'key_1': 1, 'key_2': 42, 'key_3': 'Hello', 'new_key': 66}
-----------------------------------------------------
Harry
['P', 'y', 't', 'h', 'o', 'n']

##### Comparing different data types

In [133]:
print((99 > 5))
print((0 == False))
print((1 == True))
print((6.2 < 7))
print((9 >= 9))
print((False < True))

print(type(99 > 5))
print(type(0 == False))
print(type(1 == True))
print(type(6.2 < 7))
print(type(9 >= 9))
print(type(False < True))

True
True
True
True
True
True
<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>

### XOR Gate

In [146]:
A = True
B = False
C = print(A or B)
D = print(A and B)
D_NOT = print(not(A and B))
XOR = print(C and D_NOT)

XOR = C and (not D)
print(XOR)

True
False
True
None
None

#### Comparing Strings

In [147]:
#Comparing Strings
#Test the result of these comparisons 'AAA' > 'BBB' 'AAB' > 'AAA' 'aaa' > 'AAA'
#Can you give an explanation of the last comparison?
print('AAA' > 'BBB') 
print('AAB' > 'AAA')
print('aaa' > 'AAA')

False
True
True

#### comparing integers

In [151]:
#You have one variable x = 10.
#Use the function input() to ask the user to introduce a number and store it into n
#Print "{n} is greater than {x}" if the introduced number is greater than x

x = 10
n = int(input("Enter a number: "))
if n > x:
    print("{n} is greater than {x}")

{n} is greater than {x}


### Calculating shopping cost using indexing

In [253]:

print("--------------------------------------------------------------------")

shop = {
     #"pack_size" : {"tomatoes": 18,"washing sponge": 2,"litre of juice": 4.5,"roll of foil": 4,"sugar": 2000},

     "prices": {"tomatoes": 0.87, "washing sponge": 0.29, "litre of juice": 1.89, "roll of foil": 1.29,"sugar": 1.09},
     
     "pack_size" : {"tomatoes": 6,"washing sponge": 10,"litre of juice": 1.5,"roll of foil": 30,"sugar": 500}

    }
dx = pd.DataFrame(shop)
print(dx)

print((18/shop['pack_size']['tomatoes']) * (shop['prices']['tomatoes']))
print((2/shop['pack_size']["washing sponge"]) * (shop['prices']["washing sponge"]))
print((4.5/shop['pack_size']["litre of juice"]) * (shop['prices']["litre of juice"]))
print((4/shop['pack_size']["roll of foil"]) * (shop['prices']["roll of foil"]))
print((2000/shop['pack_size']["sugar"]) * (shop['prices']["sugar"]))
print("--------------------------------------------------------------------")
a = ((18/shop['pack_size']['tomatoes']) * (shop['prices']['tomatoes']))
b = ((2/shop['pack_size']["washing sponge"]) * (shop['prices']["washing sponge"]))
c = ((4.5/shop['pack_size']["litre of juice"]) * (shop['prices']["litre of juice"]))
d = ((4/shop['pack_size']["roll of foil"]) * (shop['prices']["roll of foil"]))
e = ((2000/shop['pack_size']["sugar"]) * (shop['prices']["sugar"]))

order_subtotal = (a + b + c + d + e)
print(round(order_subtotal, 2))
order_total = round((order_subtotal* 0.20) + (order_subtotal) ,2)
print(order_total)
print("=====================================================================")

--------------------------------------------------------------------
                prices  pack_size
tomatoes          0.87        6.0
washing sponge    0.29       10.0
litre of juice    1.89        1.5
roll of foil      1.29       30.0
sugar             1.09      500.0
2.61
0.057999999999999996
5.67
0.17200000000000001
4.36
--------------------------------------------------------------------
12.87
15.44
=====================================================================

In [255]:
order_subtotal = (round((((18/shop['pack_size']['tomatoes']) * (shop['prices']['tomatoes'])) +
((2/shop['pack_size']["washing sponge"]) * (shop['prices']["washing sponge"])) +
((4.5/shop['pack_size']["litre of juice"]) * (shop['prices']["litre of juice"])) +
((4/shop['pack_size']["roll of foil"]) * (shop['prices']["roll of foil"])) +
((2000/shop['pack_size']["sugar"]) * (shop['prices']["sugar"]))),2))

print(order_subtotal)
order_total = round((order_subtotal* 0.20) + (order_subtotal) ,2)
print(order_total)

12.87
15.44

### Tuple

In [276]:
#Create an empty tuple without Python's built-in function
#Create an empty tuple with Python's built-in function
#Create a tuple that contains three different data types
#Merge the two of the tuples you created using the + operator
#Iterate over one of the tuples and print out tuples

my_tuple = ()
print(my_tuple)

him_tuple = tuple([])
print(him_tuple)

a_tuple = ('weed', 3.4, True)
for elements in a_tuple:
    print(elements)
type(a_tuple)

A = (him_tuple + a_tuple)
for elements in A:
    print(elements)

()
()
weed
3.4
True
weed
3.4
True

### Counting Number of Occurences in a Tuple

In [1]:
#Count the number of i's in the tuple vowels = ('a', 'e', 'i', 'o', 'i', 'u')
#Count the number of 7's in the tuple numbers = (1, 7, 2, 7, 3, 7, 4, 7, 5, 7, 6, 7, 7, 7)
#Count the number of [1, 2, 3] lists and ('f', 'd') tuples in the tuple tuple = (1, 'f', [1, 2, 3], [4, 5], ('f', 'd'), ('f', 'd', 'e'), [1, 2, 3], 'a')

tuple_vowels = ('a', 'e', 'i', 'o', 'i', 'u')
tuple_vowels.count('i')

tuple_numbers = (1, 7, 2, 7, 3, 7, 4, 7, 5, 7, 6, 7, 7, 7)
tuple_numbers.count(7,)

tuple = (1, 'f', [1, 2, 3], [4, 5], ('f', 'd'), ('f', 'd', 'e'), [1, 2, 3], 'a')
tuple.count([1,2,3])

print(tuple.count('f'))
print(tuple.count('d'))
print(tuple.count(('f', 'd')))

for elements in tuple:
    print(elements)  # iteration

 # indexing individual elements
print(tuple[2][1])

1
0
1
1
f
[1, 2, 3]
[4, 5]
('f', 'd')
('f', 'd', 'e')
[1, 2, 3]
a
2

### Indexing tuples

In [319]:
#You have a tuple vowels = ('a', 'e', 'i', 'o', 'i', 'u')
#Find the first occurence of 'e' element
#Find the first occurence of 'i' element
#Find the first occurence of 'b' element. What does this return? What is the meaning of this error?
#The index() method can take one to three parameters. We used one of them so far: element, the item to scan. The two other paramaters this method can take are:
#- start_index - scanning of the element will start from the start_index
#- end_index - scanning of the element will stop at the end_index
#Find the first occurence of 'i' elemnts from index 4 to 8 in the following tuple alphabet = ('a', 'e', 'i', 'o', 'u', 'g', 'l', 'i', 'u')

tuple_vowels = ('a', 'e', 'i', 'o', 'i', 'u')
for elements in tuple_vowels:
    print(elements)           
    #print(elements.index)    # Ask question about the memory location here being different from the below
    #print(tuple_vowels.index) # Ask question about the memory location here being different from the above
print ('---------------------------------------------------')
print(tuple_vowels.index('e'))
print(tuple_vowels.index('i'))
#print(tuple_vowels.index('b'))
print ('---------------------------------------------------')

tuple_alpha = ('a', 'e', 'i', 'o', 'u', 'g', 'l', 'i', 'u')
print(tuple_alpha[4:9])
print(tuple_alpha[4:9].index('i'))
print ('===================================================')

tuple_alpha = ('a', 'e', 'i', 'o', 'u', 'g', 'l', 'i', 'u')
A = tuple_alpha[4:9]
print(A.index('i'))

a
e
i
o
i
u
---------------------------------------------------
1
2
---------------------------------------------------
('u', 'g', 'l', 'i', 'u')
3
===================================================
3

### simple program to check first occurence of an item.

In [315]:
item = input('Enter item: ' )
x = tuple_vowels.index(item)
print('1st occurence of', item, 'is at index', x)

1st occurence of e is at index 1

### Unpacking Tuples

In [321]:

#Initialise a tuple that contains four different data types. Unpack the tuple and print out each variable.
#Given a tuple = (70, "AiCore", 10, "Programming", 70) and x, *y, z = tuple. What do you think the output of the following print statements will be?
#print(x)
#print(y)
#print(z)
#Given a tuple = (70, "AiCore", 10, "Programming", 70) and x, y, *z = tuple. What do you think the output of the following print statements will be?
#print(x)
#print(y)
#print(z)

tuple_types = (45, True, 'help', 3.7)
#w, x, y, z = (45, True, 'help', 3.7)
w, x, y, z = tuple_types
print(w)
print(x)
print(y)
print(z)

45
True
help
3.7

In [333]:
tuple = (70, "AiCore", 10, "Programming", 70)
x, *y, z = tuple
print(x)
print(y)
print(z)
print ('===================================================')

x, y, *z = tuple
print(x)
print(y)
print(z)
print ('===================================================')
*x, y, z = tuple
print(x)
print(y)
print(z)

70
['AiCore', 10, 'Programming']
70
===================================================
70
AiCore
[10, 'Programming', 70]
===================================================
[70, 'AiCore', 10]
Programming
70

### assertion

In [343]:
age = int(input('Enter Age :' ))
assert age >= 25 , 'you cant purcahse alcohol'
print(' You can purchase alcohol')

AssertionError: you cant purcahse alcohol

### Tuple packing and unpacking
### Tuple unpacking is one of the most powerful features of tuples.
### Using the comma syntax below, Python automatically selects elements from a tuple and assigns them to variables.
### This feature can be applied to For loops, particularly when iterating over dictionaries.